In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("https://raw.githubusercontent.com/singhrau0/Big-Data-Preprocessing/main/titanic_dataset.csv")

In [ ]:
data.head(10)

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
data.tail()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
import numpy as np

fetch all the rows that are divisible 2 and 3 but not 6

In [ ]:
def lockin(data):
  if data.iloc[::]%2==0 or data.iloc[::]%3==0 and data.iloc[::]%6!=0 :
    return data

In [ ]:
#lockin(data)

In [ ]:
#data.iloc[::1]%2==0

In [ ]:
data.loc[list(filter(lambda x:x %2==0 or x%3==0 and x%6!=0 , range(0,891)))]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
ds=data.iloc[[i for i in range(0,891) if '6' not in str(i) and '7' not in str(i)]]
ds.iloc[0:,-1:-3:-1]

    Embarked Cabin
0          S   NaN
1          C   C85
2          S   NaN
3          S  C123
4          S   NaN
..       ...   ...
884        S   NaN
885        Q   NaN
888        S   NaN
889        C  C148
890        Q   NaN

[441 rows x 2 columns]

In [ ]:
#data.loc[list(filter[lambda x:((x%10)!=6) & ((x%10)!=7),range(0,891)]),["Name","Gender"]]

In [ ]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Gender', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

get all the columns which stated with p

In [ ]:
d=data[data["Gender"]=="male"]
d[d["Age"]<18]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S
163,164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S
266,267,0,3,"Panula, Mr. Ernesti Arvid",male,16.00,4,1,3101295,39.6875,NaN,S
278,279,0,3,"Rice, Master. Eric",male,7.00,4,1,382652,29.1250,NaN,Q
282,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.00,0,0,345778,9.5000,NaN,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
333,334,0,3,"Vander Planke, Mr. Leo Edmondus",male,16.00,2,0,345764,18.0000,NaN,S
340,341,1,2,"Navratil, Master. Edmond Roger",male,2.00,1,1,230080,26.0000,F2,S
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S
352,353,0,3,"Elias, Mr. Tannous",male,15.00,1,1,2695,7.2292,NaN,C
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S
407,408,1,2,"Richards, Master. William Rowe",male,3.00,1,1,29106,18.7500,NaN,S
433,434,0,3,"Kallio, Mr. Nikolai Erland",male,17.00,0,0,STON/O 2. 3101274,7.1250,NaN,S
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S
480,481,0,3,"Goodwin, Master. Harold Victor",male,9.00,5,2,CA 2144,46.9000,NaN,S
489,490,1,3,"Coutts, Master. Eden Leslie ""Neville""",male,9.00,1,1,C.A. 37671,15.9000,NaN,S
500,501,0,3,"Calic, Mr. Petar",male,17.00,0,0,315086,8.6625,NaN,S
532,533,0,3,"Elias, Mr. Joseph Jr",male,17.00,1,1,2690,7.2292,NaN,C
549,550,1,2,"Davies, Master. John Morgan Jr",male,8.00,1,1,C.A. 33112,36.7500,NaN,S
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17.00,0,2,17421,110.8833,C70,C
574,575,0,3,"Rush, Mr. Alfred George John",male,16.00,0,0,A/4. 20589,8.0500,NaN,S
683,684,0,3,"Goodwin, Mr. Charles Edward",male,14.00,5,2,CA 2144,46.9000,NaN,S
686,687,0,3,"Panula, Mr. Jaako Arnold",male,14.00,4,1,3101295,39.6875,NaN,S
721,722,0,3,"Jensen, Mr. Svend Lauritz",male,17.00,1,0,350048,7.0542,NaN,S
731,732,0,3,"Hassan, Mr. Houssein G N",male,11.00,0,0,2699,18.7875,NaN,C
746,747,0,3,"Abbott, Mr. Rossmore Edward",male,16.00,1,1,C.A. 2673,20.2500,NaN,S
751,752,1,3,"Moor, Master. Meier",male,6.00,0,1,392096,12.4750,E121,S
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
764,765,0,3,"Eklund, Mr. Hans Linus",male,16.00,0,0,347074,7.7750,NaN,S
787,788,0,3,"Rice, Master. George Hugh",male,8.00,4,1,382652,29.1250,NaN,Q
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S
791,792,0,2,"Gaskell, Mr. Alfred",male,16.00,0,0,239865,26.0000,NaN,S
802,803,1,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760,120.0000,B96 B98,S
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
819,820,0,3,"Skoog, Master. Karl Thorsten",male,10.00,3,2,347088,27.9000,NaN,S
824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295,39.6875,NaN,S
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S
841,842,0,2,"Mudd, Mr. Thomas Charles",male,16.00,0,0,S.O./P.P. 3,10.5000,NaN,S
844,845,0,3,"Culumovic, Mr. Jeso",male,17.00,0,0,315090,8.6625,NaN,S
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S

In [ ]:
data[(data["Gender"]=="male") & (data["Age"]<18)]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S
163,164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S
266,267,0,3,"Panula, Mr. Ernesti Arvid",male,16.00,4,1,3101295,39.6875,NaN,S
278,279,0,3,"Rice, Master. Eric",male,7.00,4,1,382652,29.1250,NaN,Q
282,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.00,0,0,345778,9.5000,NaN,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
333,334,0,3,"Vander Planke, Mr. Leo Edmondus",male,16.00,2,0,345764,18.0000,NaN,S
340,341,1,2,"Navratil, Master. Edmond Roger",male,2.00,1,1,230080,26.0000,F2,S
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S
352,353,0,3,"Elias, Mr. Tannous",male,15.00,1,1,2695,7.2292,NaN,C
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S
407,408,1,2,"Richards, Master. William Rowe",male,3.00,1,1,29106,18.7500,NaN,S
433,434,0,3,"Kallio, Mr. Nikolai Erland",male,17.00,0,0,STON/O 2. 3101274,7.1250,NaN,S
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S
480,481,0,3,"Goodwin, Master. Harold Victor",male,9.00,5,2,CA 2144,46.9000,NaN,S
489,490,1,3,"Coutts, Master. Eden Leslie ""Neville""",male,9.00,1,1,C.A. 37671,15.9000,NaN,S
500,501,0,3,"Calic, Mr. Petar",male,17.00,0,0,315086,8.6625,NaN,S
532,533,0,3,"Elias, Mr. Joseph Jr",male,17.00,1,1,2690,7.2292,NaN,C
549,550,1,2,"Davies, Master. John Morgan Jr",male,8.00,1,1,C.A. 33112,36.7500,NaN,S
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17.00,0,2,17421,110.8833,C70,C
574,575,0,3,"Rush, Mr. Alfred George John",male,16.00,0,0,A/4. 20589,8.0500,NaN,S
683,684,0,3,"Goodwin, Mr. Charles Edward",male,14.00,5,2,CA 2144,46.9000,NaN,S
686,687,0,3,"Panula, Mr. Jaako Arnold",male,14.00,4,1,3101295,39.6875,NaN,S
721,722,0,3,"Jensen, Mr. Svend Lauritz",male,17.00,1,0,350048,7.0542,NaN,S
731,732,0,3,"Hassan, Mr. Houssein G N",male,11.00,0,0,2699,18.7875,NaN,C
746,747,0,3,"Abbott, Mr. Rossmore Edward",male,16.00,1,1,C.A. 2673,20.2500,NaN,S
751,752,1,3,"Moor, Master. Meier",male,6.00,0,1,392096,12.4750,E121,S
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
764,765,0,3,"Eklund, Mr. Hans Linus",male,16.00,0,0,347074,7.7750,NaN,S
787,788,0,3,"Rice, Master. George Hugh",male,8.00,4,1,382652,29.1250,NaN,Q
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S
791,792,0,2,"Gaskell, Mr. Alfred",male,16.00,0,0,239865,26.0000,NaN,S
802,803,1,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760,120.0000,B96 B98,S
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
819,820,0,3,"Skoog, Master. Karl Thorsten",male,10.00,3,2,347088,27.9000,NaN,S
824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295,39.6875,NaN,S
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S
841,842,0,2,"Mudd, Mr. Thomas Charles",male,16.00,0,0,S.O./P.P. 3,10.5000,NaN,S
844,845,0,3,"Culumovic, Mr. Jeso",male,17.00,0,0,315090,8.6625,NaN,S
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S

get male data who survied

In [ ]:
data[(data["Gender"]=="male") & (data["Survived"]==1)]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
...,...,...,...,...,...,...,...,...,...,...,...,...
838,839,1,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,NaN,S
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [ ]:
data[(data["Gender"]=="female") & (data["Survived"]==0)]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
854,855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,NaN,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [ ]:
sur=data[(data["Gender"]=="male") & (data["Survived"]==1)]
males=data[data["Gender"]=="male"]

per=(len(sur)/len(males))*100
per

18.890814558058924

In [ ]:
len(males)

577

In [ ]:
fsr=data[(data["Gender"]=="female") & (data["Survived"]==1)]

females=data[data["Gender"]=="female"]
fper=(len(fsr)/len(females))*100
fper

74.20382165605095

In [ ]:
one=data[(data["Pclass"]==1) & (data["Survived"]==1)]

Sur=data[data["Pclass"]==1]
sper=(len(one)/len(Sur))*100
sper

62.96296296296296

In [ ]:
Two=data[(data["Pclass"]==2) & (data["Survived"]==1)]

Sur=data[data["Pclass"]==2]

sper=(len(Two)/len(Sur))*100
sper

47.28260869565217

In [ ]:
Three=data[(data["Pclass"]==3) & (data["Survived"]==1)]

Sur=data[data["Pclass"]==3]

sper=(len(Three)/len(Sur))*100
sper

24.236252545824847

In [ ]:
data[data["Name"].str.contains("Mrs")]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q

In [ ]:
for i in data["Name"]:
  if "Mrs" in i:
    print(i)

Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Futrelle, Mrs. Jacques Heath (Lily May Peel)
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Nasser, Mrs. Nicholas (Adele Achem)
Hewlett, Mrs. (Mary D Kingcome)
Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
Masselmani, Mrs. Fatima
Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
Spencer, Mrs. William Augustus (Marie Eugenie)
Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)
Arnold-Franchi, Mrs. Josef (Josefine Franchi)
Harper, Mrs. Henry Sleeper (Myna Haxtun)
Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)
Nye, Mrs. (Elizabeth Ramell)
Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)
Doling, Mrs. John T (Ada Julia Bone)
Robins, Mrs. Alexander A (Grace Charity Laury)
Weisz, Mrs. Leopold (Mathilde Francoise Pede)
Boulos, Mrs. Joseph (Sultana)
Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)
Pears, Mrs. Thomas (Edith Wearne)
Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)
Chibnall, Mrs. (Edith Martha Bowerman)
Skoog, Mrs. William (Anna Bernhardina Karlsson)
O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
Pinsky, Mrs. (Rosa)
Brown, Mrs. James Joseph (Margaret Tobin)
Yrois, Miss. Henriette ("Mrs Harbeck")
Harris, Mrs. Henry Birkhardt (Irene Wallach)
Hamalainen, Mrs. William (Anna)
Strom, Mrs. Wilhelm (Elna Matilda Persson)
Rosblom, Mrs. Viktor (Helena Wilhelmina)
Touma, Mrs. Darwis (Hanne Youssef Razi)
Thorne, Mrs. Gertrude Maybelle
Parrish, Mrs. (Lutie Davis)
Graham, Mrs. William Thompson (Edith Junkins)
Mellinger, Mrs. (Elizabeth Anne Maidment)
Abbott, Mrs. Stanton (Rosa Hunt)
Bishop, Mrs. Dickinson H (Helen Walton)
Baxter, Mrs. James (Helene DeLaudeniere Chaput)
Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
Lahtinen, Mrs. William (Anna Sylfven)
Kantor, Mrs. Sinai (Miriam Sternin)
Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)
Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)
Ball, Mrs. (Ada E Hall)
Goldsmith, Mrs. Frank John (Emily Alice Brown)
Frauenthal, Mrs. Henry William (Clara Heinsheimer)
Davison, Mrs. Thomas Henry (Mary E Finck)
Barbara, Mrs. (Catherine David)
Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
Moussa, Mrs. (Mantoura Boulos)
Meyer, Mrs. Edgar Joseph (Leila Saks)
Holverson, Mrs. Alexander Oskar (Mary Aline Towner)
Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)
Trout, Mrs. William H (Jessie L)
Meek, Mrs. Thomas (Annie Louise Rowley)
Drew, Mrs. James Vivian (Lulu Thorne Christian)
Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)
Clarke, Mrs. Charles V (Ada Maria Winfield)
Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")
Thorneycroft, Mrs. Percival (Florence Kate White)
Louch, Mrs. Charles Alexander (Alice Adelaide Slow)
Richards, Mrs. Sidney (Emily Hocking)
Hart, Mrs. Benjamin (Esther Ada Bloomfield)
Kenyon, Mrs. Frederick R (Marion)
West, Mrs. Edwy Arthur (Ada Mary Worth)
Jerwan, Mrs. Amin S (Marie Marthe Thuillard)
Turkula, Mrs. (Hedwig)
Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
Quick, Mrs. Frederick Charles (Jane Richards)
Rothschild, Mrs. Martin (Elizabeth L. Barrett)
Lemore, Mrs. (Amelia Milley)
Angle, Mrs. William A (Florence "Mary" Agnes Hughes)
Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
Peter, Mrs. Catherine (Catherine Rizk)
Beane, Mrs. Edward (Ethel Clarke)
Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")
Taussig, Mrs. Emil (Tillie Mandelbaum)
de Messemaeker, Mrs. Guillaume Joseph (Emma)
Palsson, Mrs. Nils (Alma Cornelia Berglund)
Appleton, Mrs. Edward Dale (Charlotte Lamson)
Silvey, Mrs. William Baird (Alice Munger)
Caram, Mrs. Joseph (Maria Elias)
Thayer, Mrs. John Borland (Marian Longstreth Morris)
Stephenson, Mrs. Walter Bertram (Martha Eustis)
Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)
Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)
Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)
Lobb, Mrs. William Arthur (Cordelia K Stanlick)
Panula, Mrs. Juha (Maria Emilia Ojala)
Bourke, Mrs. John (Catherine)
Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)
Goodwin, Mrs. Frederick (Augusta Tyler)
Astor, Mrs. John Jacob (Madeleine Talmadge Force)
Kelly, Mrs. Florence "Fannie"
Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
Renouf, Mrs. Peter Henry (Lillian Jefferys)
Ford, Mrs. Edward (Margaret Ann Watson)
Herman, Mrs. Samuel (Jane Laver)
Carter, Mrs. William Ernest (Lucile Polk)
Hogeboom, Mrs. John C (Anna Andrews)
Mack, Mrs. (Mary)
Hocking, Mrs. Elizabeth (Eliza Needs)
Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)
Dick, Mrs. Albert Adrian (Vera Gillespie)
Osman, Mrs. Mara
Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)
Collyer, Mrs. Harvey (Charlotte Annie Tate)
Chambers, Mrs. Norman Campbell (Bertha Griggs)
Hays, Mrs. Charles Melville (Clara Jennings Gregg)
Moor, Mrs. (Beila)
Stone, Mrs. George Nelson (Martha Evelyn)
Yasbeck, Mrs. Antoni (Selini Alexander)
Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
Carter, Mrs. Ernest Courtenay (Lilian Hughes)
Aks, Mrs. Sam (Leah Rosen)
Wick, Mrs. George Dennick (Mary Hitchcock)
Baclini, Mrs. Solomon (Latifa Qurban)
Swift, Mrs. Frederick Joel (Margaret Welles Barron)
Bystrom, Mrs. (Karolina)
Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
Abelson, Mrs. Samuel (Hannah Wizosky)
Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
Shelley, Mrs. William (Imanita Parrish Hall)
Rice, Mrs. William (Margaret Norton)

In [ ]:
data[list(map(lambda x:x.__contains__("Mrs"),data["Name"]))]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q

In [ ]:
l=list(filter(lambda x:x.__contains__("(" ),data["Name"]))
ls=[]
for i in l:
  x=i.index("(")
  y=i.index(")")
  ls.append(i[x+1:y-1])
ls

['Florence Briggs Thaye',
 'Lily May Pee',
 'Elisabeth Vilhelmina Ber',
 'Adele Ache',
 'Mary D Kingcom',
 'Emelia Maria Vandemoortel',
 'Selma Augusta Emilia Johansso',
 'Marie Eugeni',
 'Johanna Persdotter Larsso',
 'Dorothy Ann Wonnacot',
 'Josefine Franch',
 'Myna Haxtu',
 'Elizabeth Anne Wilkinso',
 'Elizabeth Ramel',
 'Maria Mathilda Gustafsso',
 'Ada Julia Bon',
 '"Pentcho',
 'Grace Charity Laur',
 'Mathilde Francoise Ped',
 'Sultan',
 'Elin Matilda Dolc',
 '"Wennerstrom',
 '"Louis M Hoffman',
 'Edith Wearn',
 'Elizabeth "Bessie" Inglis Miln',
 'Edith Martha Bowerma',
 'Anna Bernhardina Karlsso',
 'Johanna "Hannah" Godfre',
 '"Mr C Rolmane',
 'Ros',
 'Margaret Tobi',
 '"Mrs Harbeck',
 '"Henry',
 'Irene Wallac',
 'Ann',
 'Elna Matilda Persso',
 'Helena Wilhelmin',
 'Hanne Youssef Raz',
 'Lutie Davi',
 'Edith Junkin',
 'Elizabeth Anne Maidmen',
 'Rosa Hun',
 'Helen Walto',
 'Helene DeLaudeniere Chapu',
 'Maria Josefa Perez de Soto y Vallej',
 'Anna Sylfve',
 'Miriam Sterni',
 'Margaretta Corning Ston',
 'Sylvia Mae Harbaug',
 'Ada E Hal',
 'Emily Alice Brow',
 'Clara Heinsheime',
 'Mary E Finc',
 'Catherine Davi',
 'Anna Sophia Atkinso',
 'Mantoura Boulo',
 'Leila Sak',
 '"Mary',
 'Mary Aline Towne',
 'Agnes Charlotta Bengtsso',
 'Jessie ',
 'Annie Louise Rowle',
 'Lulu Thorne Christia',
 'Anna Sigrid Maria Brogre',
 'Ada Maria Winfiel',
 '"Mrs Kate Louise Phillips Marshall',
 'Berk Trembisk',
 'Florence Kate Whit',
 'Alice Adelaide Slo',
 'Emily Hockin',
 'Esther Ada Bloomfiel',
 'Mario',
 'Ada Mary Wort',
 'Marie Marthe Thuillar',
 'Hedwi',
 'Jane Anne Forb',
 'Bessie Waldo Daniel',
 'Jane Richard',
 '"George Arthur Brayton',
 'Elizabeth L. Barret',
 'Amelia Mille',
 'Florence "Mary" Agnes Hughe',
 'Ida Sophia Fische',
 'Catherine Riz',
 'Ethel Clark',
 '"Philip Zenni',
 'Lucille Christiana Sutherlan',
 'Tillie Mandelbau',
 'Emm',
 'Marion Ogde',
 'Alma Cornelia Berglun',
 'Charlotte Lamso',
 '"Irving',
 'Alice Munge',
 'Maria Elia',
 'Marian Longstreth Morri',
 'Martha Eusti',
 '"Mr Morgan',
 'Amy Frances Christ',
 '"Mr E Haven',
 'Juliette Marie Louise Lafargu',
 'Alfrida Konstantia Brogre',
 'Cordelia K Stanlic',
 'Maria Emilia Ojal',
 'Catherin',
 'Juliet Cummins Wrigh',
 'Elizabeth Catherine For',
 'Augusta Tyle',
 'Madeleine Talmadge Forc',
 '"Mr Henry Marshall',
 '"William George',
 '"Mrs de Villiers',
 'Lillian Jeffery',
 'Margaret Ann Watso',
 'Jane Lave',
 'Lucy Noel Martha Dyer-Edward',
 'Lucile Pol',
 'Anna Andrew',
 'Mar',
 'Eliza Need',
 'Elisabeth Walton McMilla',
 'Vera Gillespi',
 'David Lishi',
 'Farnha',
 'Rosalie Paula Govaer',
 'Charlotte Annie Tat',
 'Bertha Grigg',
 'Clara Jennings Greg',
 'Beil',
 'Martha Evely',
 'Selini Alexande',
 'Edwiga Grabowsk',
 'Lilian Hughe',
 'Leah Rose',
 'Mary Hitchcoc',
 'Latifa Qurba',
 'Margaret Welles Barro',
 'Karolin',
 'Sallie Monypen',
 'Hannah Wizosk',
 'Lily Alexenia Wilso',
 'Imanita Parrish Hal',
 'Margaret Norto']

In [ ]:
for i in data["Name"]:
  if "(" in i:
    print(i)

Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Futrelle, Mrs. Jacques Heath (Lily May Peel)
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Nasser, Mrs. Nicholas (Adele Achem)
Hewlett, Mrs. (Mary D Kingcome)
Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
Spencer, Mrs. William Augustus (Marie Eugenie)
Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)
Arnold-Franchi, Mrs. Josef (Josefine Franchi)
Harper, Mrs. Henry Sleeper (Myna Haxtun)
Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)
Nye, Mrs. (Elizabeth Ramell)
Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)
Doling, Mrs. John T (Ada Julia Bone)
Petroff, Mr. Pastcho ("Pentcho")
Robins, Mrs. Alexander A (Grace Charity Laury)
Weisz, Mrs. Leopold (Mathilde Francoise Pede)
Boulos, Mrs. Joseph (Sultana)
Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)
Andersson, Mr. August Edvard ("Wennerstrom")
Navratil, Mr. Michel ("Louis M Hoffman")
Pears, Mrs. Thomas (Edith Wearne)
Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)
Chibnall, Mrs. (Edith Martha Bowerman)
Skoog, Mrs. William (Anna Bernhardina Karlsson)
O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
Romaine, Mr. Charles Hallace ("Mr C Rolmane")
Pinsky, Mrs. (Rosa)
Brown, Mrs. James Joseph (Margaret Tobin)
Yrois, Miss. Henriette ("Mrs Harbeck")
Lovell, Mr. John Hall ("Henry")
Harris, Mrs. Henry Birkhardt (Irene Wallach)
Hamalainen, Mrs. William (Anna)
Strom, Mrs. Wilhelm (Elna Matilda Persson)
Rosblom, Mrs. Viktor (Helena Wilhelmina)
Touma, Mrs. Darwis (Hanne Youssef Razi)
Parrish, Mrs. (Lutie Davis)
Graham, Mrs. William Thompson (Edith Junkins)
Mellinger, Mrs. (Elizabeth Anne Maidment)
Abbott, Mrs. Stanton (Rosa Hunt)
Bishop, Mrs. Dickinson H (Helen Walton)
Baxter, Mrs. James (Helene DeLaudeniere Chaput)
Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
Lahtinen, Mrs. William (Anna Sylfven)
Kantor, Mrs. Sinai (Miriam Sternin)
Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)
Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)
Ball, Mrs. (Ada E Hall)
Goldsmith, Mrs. Frank John (Emily Alice Brown)
Frauenthal, Mrs. Henry William (Clara Heinsheimer)
Davison, Mrs. Thomas Henry (Mary E Finck)
Barbara, Mrs. (Catherine David)
Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
Moussa, Mrs. (Mantoura Boulos)
Meyer, Mrs. Edgar Joseph (Leila Saks)
Nakid, Miss. Maria ("Mary")
Holverson, Mrs. Alexander Oskar (Mary Aline Towner)
Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)
Trout, Mrs. William H (Jessie L)
Meek, Mrs. Thomas (Annie Louise Rowley)
Drew, Mrs. James Vivian (Lulu Thorne Christian)
Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)
Clarke, Mrs. Charles V (Ada Maria Winfield)
Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")
Pickard, Mr. Berk (Berk Trembisky)
Thorneycroft, Mrs. Percival (Florence Kate White)
Louch, Mrs. Charles Alexander (Alice Adelaide Slow)
Richards, Mrs. Sidney (Emily Hocking)
Hart, Mrs. Benjamin (Esther Ada Bloomfield)
Kenyon, Mrs. Frederick R (Marion)
West, Mrs. Edwy Arthur (Ada Mary Worth)
Jerwan, Mrs. Amin S (Marie Marthe Thuillard)
Turkula, Mrs. (Hedwig)
Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
Quick, Mrs. Frederick Charles (Jane Richards)
Bradley, Mr. George ("George Arthur Brayton")
Rothschild, Mrs. Martin (Elizabeth L. Barrett)
Lemore, Mrs. (Amelia Milley)
Angle, Mrs. William A (Florence "Mary" Agnes Hughes)
Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
Peter, Mrs. Catherine (Catherine Rizk)
Beane, Mrs. Edward (Ethel Clarke)
Leeni, Mr. Fahim ("Philip Zenni")
Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")
Taussig, Mrs. Emil (Tillie Mandelbaum)
de Messemaeker, Mrs. Guillaume Joseph (Emma)
Meanwell, Miss. (Marion Ogden)
Palsson, Mrs. Nils (Alma Cornelia Berglund)
Appleton, Mrs. Edward Dale (Charlotte Lamson)
Flynn, Mr. John Irwin ("Irving")
Silvey, Mrs. William Baird (Alice Munger)
Caram, Mrs. Joseph (Maria Elias)
Thayer, Mrs. John Borland (Marian Longstreth Morris)
Stephenson, Mrs. Walter Bertram (Martha Eustis)
Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)
Homer, Mr. Harry ("Mr E Haven")
Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)
Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)
Lobb, Mrs. William Arthur (Cordelia K Stanlick)
Panula, Mrs. Juha (Maria Emilia Ojala)
Bourke, Mrs. John (Catherine)
Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)
Goodwin, Mrs. Frederick (Augusta Tyler)
Astor, Mrs. John Jacob (Madeleine Talmadge Force)
Morley, Mr. Henry Samuel ("Mr Henry Marshall")
Moubarek, Master. Halim Gonios ("William George")
Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
Renouf, Mrs. Peter Henry (Lillian Jefferys)
Ford, Mrs. Edward (Margaret Ann Watson)
Herman, Mrs. Samuel (Jane Laver)
Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)
Carter, Mrs. William Ernest (Lucile Polk)
Hogeboom, Mrs. John C (Anna Andrews)
Mack, Mrs. (Mary)
Hocking, Mrs. Elizabeth (Eliza Needs)
Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)
Dick, Mrs. Albert Adrian (Vera Gillespie)
Harmer, Mr. Abraham (David Lishin)
Leader, Dr. Alice (Farnham)
Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)
Collyer, Mrs. Harvey (Charlotte Annie Tate)
Chambers, Mrs. Norman Campbell (Bertha Griggs)
Hays, Mrs. Charles Melville (Clara Jennings Gregg)
Moor, Mrs. (Beila)
Stone, Mrs. George Nelson (Martha Evelyn)
Yasbeck, Mrs. Antoni (Selini Alexander)
Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
Carter, Mrs. Ernest Courtenay (Lilian Hughes)
Aks, Mrs. Sam (Leah Rosen)
Wick, Mrs. George Dennick (Mary Hitchcock)
Baclini, Mrs. Solomon (Latifa Qurban)
Swift, Mrs. Frederick Joel (Margaret Welles Barron)
Bystrom, Mrs. (Karolina)
Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
Abelson, Mrs. Samuel (Hannah Wizosky)
Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
Shelley, Mrs. William (Imanita Parrish Hall)
Rice, Mrs. William (Margaret Norton)

In [ ]:
data["Name"].str.upper()

0                                BRAUND, MR. OWEN HARRIS
1      CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...
2                                 HEIKKINEN, MISS. LAINA
3           FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)
4                               ALLEN, MR. WILLIAM HENRY
                             ...
886                                MONTVILA, REV. JUOZAS
887                         GRAHAM, MISS. MARGARET EDITH
888             JOHNSTON, MISS. CATHERINE HELEN "CARRIE"
889                                BEHR, MR. KARL HOWELL
890                                  DOOLEY, MR. PATRICK
Name: Name, Length: 891, dtype: object

In [ ]:
data["Name"].str.split("(").str[0].str.capitalize().str.split()

0                        [Braund,, mr., owen, harris]
1                     [Cumings,, mrs., john, bradley]
2                          [Heikkinen,, miss., laina]
3                   [Futrelle,, mrs., jacques, heath]
4                       [Allen,, mr., william, henry]
                            ...
886                         [Montvila,, rev., juozas]
887                 [Graham,, miss., margaret, edith]
888    [Johnston,, miss., catherine, helen, "carrie"]
889                        [Behr,, mr., karl, howell]
890                           [Dooley,, mr., patrick]
Name: Name, Length: 891, dtype: object

In [ ]:
data["Name"].str.replace("(","{").str.replace(")","}")

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley {Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath {Lily May Peel}
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [ ]:
data["Name"].str.len()

0      23
1      51
2      22
3      44
4      24
       ..
886    21
887    28
888    40
889    21
890    19
Name: Name, Length: 891, dtype: int64

In [ ]:
data1=data.copy()
data1.loc[data1["Age"]>50,"Age"]=70
data1[data1["Age"]>50]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,7,0,1,"McCarthy, Mr. Timothy J",male,70.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,70.0,0,0,113783,26.5500,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,70.0,0,0,248706,16.0000,NaN,S
33,34,0,2,"Wheadon, Mr. Edward H",male,70.0,0,0,C.A. 24579,10.5000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,70.0,0,1,113509,61.9792,B30,C
...,...,...,...,...,...,...,...,...,...,...,...,...
820,821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,70.0,1,1,12749,93.5000,B69,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,70.0,0,0,113572,80.0000,B28,NaN
851,852,0,3,"Svensson, Mr. Johan",male,70.0,0,0,347060,7.7750,NaN,S
857,858,1,1,"Daly, Mr. Peter Denis",male,70.0,0,0,113055,26.5500,E17,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,70.0,0,1,11767,83.1583,C50,C

In [ ]:
d=data["Gender"]=="male"
data.loc[d,'Fare'] =data.Fare* (1.1)
data

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.9750,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.8550,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,14.3000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,33.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,8.5250,NaN,Q

In [ ]:
#decrease female fare first clas by 20

In [ ]:
#d=data[(data["Gender"]=="female") & (data["Pclass"]==1)]
data.loc[(data["Gender"]=="female") & (data["Pclass"]==1),'Fare'] =data.Fare* (.8)
data

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.97500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,57.02664,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92500,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,42.48000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.85500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,14.30000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,24.00000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,33.00000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,8.52500,NaN,Q

get all the data which does not cotain miss word

In [ ]:
l=data[data['Name'].str.contains("Miss.")]
ls=[]
for i in l:
  for j in data["Name"]:
    if i !=j:
      ls.append(j)
ls

['Braund, Mr. Owen Harris',
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Heikkinen, Miss. Laina',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Allen, Mr. William Henry',
 'Moran, Mr. James',
 'McCarthy, Mr. Timothy J',
 'Palsson, Master. Gosta Leonard',
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
 'Nasser, Mrs. Nicholas (Adele Achem)',
 'Sandstrom, Miss. Marguerite Rut',
 'Bonnell, Miss. Elizabeth',
 'Saundercock, Mr. William Henry',
 'Andersson, Mr. Anders Johan',
 'Vestrom, Miss. Hulda Amanda Adolfina',
 'Hewlett, Mrs. (Mary D Kingcome) ',
 'Rice, Master. Eugene',
 'Williams, Mr. Charles Eugene',
 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
 'Masselmani, Mrs. Fatima',
 'Fynney, Mr. Joseph J',
 'Beesley, Mr. Lawrence',
 'McGowan, Miss. Anna "Annie"',
 'Sloper, Mr. William Thompson',
 'Palsson, Miss. Torborg Danira',
 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
 'Emir, Mr. Farred Chehab',
 'Fortune, Mr. Charles Alexander',
 'O\'Dwyer, Miss. Ellen "Nellie"',
 'Todoroff, Mr. Lalio',
 'Uruchurtu, Don. Manuel E',
 'Spencer, Mrs. William Augustus (Marie Eugenie)',
 'Glynn, Miss. Mary Agatha',
 'Wheadon, Mr. Edward H',
 'Meyer, Mr. Edgar Joseph',
 'Holverson, Mr. Alexander Oskar',
 'Mamee, Mr. Hanna',
 'Cann, Mr. Ernest Charles',
 'Vander Planke, Miss. Augusta Maria',
 'Nicola-Yarred, Miss. Jamila',
 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)',
 'Kraeff, Mr. Theodor',
 'Laroche, Miss. Simonne Marie Anne Andree',
 'Devaney, Miss. Margaret Delia',
 'Rogers, Mr. William John',
 'Lennon, Mr. Denis',
 "O'Driscoll, Miss. Bridget",
 'Samaan, Mr. Youssef',
 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
 'Panula, Master. Juha Niilo',
 'Nosworthy, Mr. Richard Cater',
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
 'Ostby, Mr. Engelhart Cornelius',
 'Woolner, Mr. Hugh',
 'Rugg, Miss. Emily',
 'Novel, Mr. Mansouer',
 'West, Miss. Constance Mirium',
 'Goodwin, Master. William Frederick',
 'Sirayanian, Mr. Orsen',
 'Icard, Miss. Amelie',
 'Harris, Mr. Henry Birkhardt',
 'Skoog, Master. Harald',
 'Stewart, Mr. Albert A',
 'Moubarek, Master. Gerios',
 'Nye, Mrs. (Elizabeth Ramell)',
 'Crease, Mr. Ernest James',
 'Andersson, Miss. Erna Alexandra',
 'Kink, Mr. Vincenz',
 'Jenkin, Mr. Stephen Curnow',
 'Goodwin, Miss. Lillian Amy',
 'Hood, Mr. Ambrose Jr',
 'Chronopoulos, Mr. Apostolos',
 'Bing, Mr. Lee',
 'Moen, Mr. Sigurd Hansen',
 'Staneff, Mr. Ivan',
 'Moutal, Mr. Rahamin Haim',
 'Caldwell, Master. Alden Gates',
 'Dowdell, Miss. Elizabeth',
 'Waelens, Mr. Achille',
 'Sheerlinck, Mr. Jan Baptist',
 'McDermott, Miss. Brigdet Delia',
 'Carrau, Mr. Francisco M',
 'Ilett, Miss. Bertha',
 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
 'Ford, Mr. William Neal',
 'Slocovski, Mr. Selman Francis',
 'Fortune, Miss. Mabel Helen',
 'Celotti, Mr. Francesco',
 'Christmann, Mr. Emil',
 'Andreasson, Mr. Paul Edvin',
 'Chaffee, Mr. Herbert Fuller',
 'Dean, Mr. Bertram Frank',
 'Coxon, Mr. Daniel',
 'Shorney, Mr. Charles Joseph',
 'Goldschmidt, Mr. George B',
 'Greenfield, Mr. William Bertram',
 'Doling, Mrs. John T (Ada Julia Bone)',
 'Kantor, Mr. Sinai',
 'Petranec, Miss. Matilda',
 'Petroff, Mr. Pastcho ("Pentcho")',
 'White, Mr. Richard Frasar',
 'Johansson, Mr. Gustaf Joel',
 'Gustafsson, Mr. Anders Vilhelm',
 'Mionoff, Mr. Stoytcho',
 'Salkjelsvik, Miss. Anna Kristine',
 'Moss, Mr. Albert Johan',
 'Rekic, Mr. Tido',
 'Moran, Miss. Bertha',
 'Porter, Mr. Walter Chamberlain',
 'Zabour, Miss. Hileni',
 'Barton, Mr. David John',
 'Jussila, Miss. Katriina',
 'Attalah, Miss. Malake',
 'Pekoniemi, Mr. Edvard',
 'Connors, Mr. Patrick',
 'Turpin, Mr. William John Robert',
 'Baxter, Mr. Quigg Edmond',
 'Andersson, Miss. Ellis Anna Maria',
 'Hickman, Mr. Stanley George',
 'Moore, Mr. Leonard Charles',
 'Nasser, Mr. Nicholas',
 'Webber, Miss. Susan',
 'White, Mr. Percival Wayland',
 'Nicola-Yarred, Master. Elias',
 'McMahon, Mr. Martin',
 'Madsen, Mr. Fridtjof Arne',
 'Peter, Miss. Anna',
 'Ekstrom, Mr. Johan',
 'Drazenoic, Mr. Jozef',
 'Coelho, Mr. Domingos Fernandeo',
 'Robins, Mrs. Alexander A (Grace Charity Laury)',
 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
 'Sobey, Mr. Samuel James Hayden',
 'Richard, Mr. Emile',
 'Newsom, Miss. Helen Monypeny',
 'Futrelle, Mr. Jacques Heath',
 'Osen, Mr. Olaf Elon',
 'Giglio, Mr. Victor',
 'Boulos, Mrs. Joseph (Sultana)',
 'Nysten, Miss. Anna Sofia',
 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
 'Burke, Mr. Jeremiah',
 'Andrew, Mr. Edgardo Samuel',
 'Nicholls, Mr. Joseph Charles',
 'Andersson, Mr. August Edvard ("Wennerstrom")',
 'Ford, Miss. Robina Maggie "Ruby"',
 'Navratil, Mr. Michel ("Louis M Hoffman")',
 'Byles, Rev. Thomas Roussel Davids',
 'Bateman, Rev. Robert James',
 'Pears, Mrs. Thomas (Edith Wearne)',
 'Meo, Mr. Alfonzo',
 'van Billiard, Mr. Austin Blyler',
 'Olsen, Mr. Ole Martin',
 'Williams, Mr. Charles Duane',
 'Gilnagh, Miss. Katherine "Katie"',
 'Corn, Mr. Harry',
 'Smiljanic, Mr. Mile',
 'Sage, Master. Thomas Henry',
 'Cribb, Mr. John Hatfield',
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
 'Bengtsson, Mr. John Viktor',
 'Calic, Mr. Jovo',
 'Panula, Master. Eino Viljami',
 'Goldsmith, Master. Frank John William "Frankie"',
 'Chibnall, Mrs. (Edith Martha Bowerman)',
 'Skoog, Mrs. William (Anna Bernhardina Karlsson)',
 'Baumann, Mr. John D',
 'Ling, Mr. Lee',
 'Van der hoef, Mr. Wyckoff',
 'Rice, Master. Arthur',
 'Johnson, Miss. Eleanor Ileen',
 'Sivola, Mr. Antti Wilhelm',
 'Smith, Mr. James Clinch',
 'Klasen, Mr. Klas Albin',
 'Lefebre, Master. Henry Forbes',
 'Isham, Miss. Ann Elizabeth',
 'Hale, Mr. Reginald',
 'Leonard, Mr. Lionel',
 'Sage, Miss. Constance Gladys',
 'Pernot, Mr. Rene',
 'Asplund, Master. Clarence Gustaf Hugo',
 'Becker, Master. Richard F',
 'Kink-Heilmann, Miss. Luise Gretchen',
 'Rood, Mr. Hugh Roscoe',
 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)',
 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")',
 'Bourke, Mr. John',
 'Turcin, Mr. Stjepan',
 'Pinsky, Mrs. (Rosa)',
 'Carbines, Mr. William',
 'Andersen-Jensen, Miss. Carla Christine Nielsine',
 'Navratil, Master. Michel M',
 'Brown, Mrs. James Joseph (Margaret Tobin)',
 'Lurette, Miss. Elise',
 'Mernagh, Mr. Robert',
 'Olsen, Mr. Karl Siegwart Andreas',
 'Madigan, Miss. Margaret "Maggie"',
 'Yrois, Miss. Henriette ("Mrs Harbeck")',
 'Vande Walle, Mr. Nestor Cyriel',
 'Sage, Mr. Frederick',
 'Johanson, Mr. Jakob Alfred',
 'Youseff, Mr. Gerious',
 'Cohen, Mr. Gurshon "Gus"',
 'Strom, Miss. Telma Matilda',
 'Backstrom, Mr. Karl Alfred',
 'Albimona, Mr. Nassef Cassem',
 'Carr, Miss. Helen "Ellen"',
 'Blank, Mr. Henry',
 'Ali, Mr. Ahmed',
 'Cameron, Miss. Clear Annie',
 'Perkin, Mr. John Henry',
 'Givard, Mr. Hans Kristensen',
 'Kiernan, Mr. Philip',
 'Newell, Miss. Madeleine',
 'Honkanen, Miss. Eliina',
 'Jacobsohn, Mr. Sidney Samuel',
 'Bazzani, Miss. Albina',
 'Harris, Mr. Walter',
 'Sunderland, Mr. Victor Francis',
 'Bracken, Mr. James H',
 'Green, Mr. George Henry',
 'Nenkoff, Mr. Christo',
 'Hoyt, Mr. Frederick Maxfield',
 'Berglund, Mr. Karl Ivar Sven',
 'Mellors, Mr. William John',
 'Lovell, Mr. John Hall ("Henry")',
 'Fahlstrom, Mr. Arne Jonas',
 'Lefebre, Miss. Mathilde',
 'Harris, Mrs. Henry Birkhardt (Irene Wallach)',
 'Larsson, Mr. Bengt Edvin',
 'Sjostedt, Mr. Ernst Adolf',
 'Asplund, Miss. Lillian Gertrud',
 'Leyson, Mr. Robert William Norman',
 'Harknett, Miss. Alice Phoebe',
 'Hold, Mr. Stephen',
 'Collyer, Miss. Marjorie "Lottie"',
 'Pengelly, Mr. Frederick William',
 'Hunt, Mr. George Henry',
 'Zabour, Miss. Thamine',
 'Murphy, Miss. Katherine "Kate"',
 'Coleridge, Mr. Reginald Charles',
 'Maenpaa, Mr. Matti Alexanteri',
 'Attalah, Mr. Sleiman',
 'Minahan, Dr. William Edward',
 'Lindahl, Miss. Agda Thorilda Viktoria',
 'Hamalainen, Mrs. William (Anna)',
 'Beckwith, Mr. Richard Leonard',
 'Carter, Rev. Ernest Courtenay',
 'Reed, Mr. James George',
 'Strom, Mrs. Wilhelm (Elna Matilda Persson)',
 'Stead, Mr. William Thomas',
 'Lobb, Mr. William Arthur',
 'Rosblom, Mrs. Viktor (Helena Wilhelmina)',
 'Touma, Mrs. Darwis (Hanne Youssef Razi)',
 'Thorne, Mrs. Gertrude Maybelle',
 'Cherry, Miss. Gladys',
 'Ward, Miss. Anna',
 'Parrish, Mrs. (Lutie Davis)',
 'Smith, Mr. Thomas',
 'Asplund, Master. Edvin Rojj Felix',
 'Taussig, Mr. Emil',
 'Harrison, Mr. William',
 'Henry, Miss. Delia',
 'Reeves, Mr. David',
 'Panula, Mr. Ernesti Arvid',
 'Persson, Mr. Ernst Ulrik',
 'Graham, Mrs. William Thompson (Edith Junkins)',
 'Bissette, Miss. Amelia',
 'Cairns, Mr. Alexander',
 'Tornquist, Mr. William Henry',
 'Mellinger, Mrs. (Elizabeth Anne Maidment)',
 'Natsch, Mr. Charles H',
 'Healy, Miss. Hanora "Nora"',
 'Andrews, Miss. Kornelia Theodosia',
 'Lindblom, Miss. Augusta Charlotta',
 'Parkes, Mr. Francis "Frank"',
 'Rice, Master. Eric',
 'Abbott, Mrs. Stanton (Rosa Hunt)',
 'Duane, Mr. Frank',
 'Olsson, Mr. Nils Johan Goransson',
 'de Pelsmaeker, Mr. Alfons',
 'Dorking, Mr. Edward Arthur',
 'Smith, Mr. Richard William',
 'Stankovic, Mr. Ivan',
 'de Mulder, Mr. Theodore',
 'Naidenoff, Mr. Penko',
 'Hosono, Mr. Masabumi',
 'Connolly, Miss. Kate',
 'Barber, Miss. Ellen "Nellie"',
 'Bishop, Mrs. Dickinson H (Helen Walton)',
 'Levy, Mr. Rene Jacques',
 'Haas, Miss. Aloisia',
 'Mineff, Mr. Ivan',
 'Lewy, Mr. Ervin G',
 'Hanna, Mr. Mansour',
 'Allison, Miss. Helen Loraine',
 'Saalfeld, Mr. Adolphe',
 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
 'Kelly, Miss. Anna Katherine "Annie Kate"',
 'McCoy, Mr. Bernard',
 'Johnson, Mr. William Cahoone Jr',
 'Keane, Miss. Nora A',
 'Williams, Mr. Howard Hugh "Harry"',
 'Allison, Master. Hudson Trevor',
 'Fleming, Miss. Margaret',
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
 'Abelson, Mr. Samuel',
 'Francatelli, Miss. Laura Mabel',
 'Hays, Miss. Margaret Bechstein',
 'Ryerson, Miss. Emily Borie',
 'Lahtinen, Mrs. William (Anna Sylfven)',
 'Hendekovic, Mr. Ignjac',
 'Hart, Mr. Benjamin',
 'Nilsson, Miss. Helmina Josefina',
 'Kantor, Mrs. Sinai (Miriam Sternin)',
 'Moraweck, Dr. Ernest',
 'Wick, Miss. Mary Natalie',
 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)',
 'Dennis, Mr. Samuel',
 'Danoff, Mr. Yoto',
 'Slayter, Miss. Hilda Mary',
 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)',
 'Sage, Mr. George John Jr',
 'Young, Miss. Marie Grice',
 'Nysveen, Mr. Johan Hansen',
 'Ball, Mrs. (Ada E Hall)',
 'Goldsmith, Mrs. Frank John (Emily Alice Brown)',
 'Hippach, Miss. Jean Gertrude',
 'McCoy, Miss. Agnes',
 'Partner, Mr. Austen',
 'Graham, Mr. George Edward',
 'Vander Planke, Mr. Leo Edmondus',
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
 'Denkoff, Mr. Mitto',
 'Pears, Mr. Thomas Clinton',
 'Burns, Miss. Elizabeth Margaret',
 'Dahl, Mr. Karl Edwart',
 'Blackwell, Mr. Stephen Weart',
 'Navratil, Master. Edmond Roger',
 'Fortune, Miss. Alice Elizabeth',
 'Collander, Mr. Erik Gustaf',
 'Sedgwick, Mr. Charles Frederick Waddington',
 'Fox, Mr. Stanley Hubert',
 'Brown, Miss. Amelia "Mildred"',
 'Smith, Miss. Marion Elsie',
 'Davison, Mrs. Thomas Henry (Mary E Finck)',
 'Coutts, Master. William Loch "William"',
 'Dimic, Mr. Jovan',
 'Odahl, Mr. Nils Martin',
 'Williams-Lambert, Mr. Fletcher Fellows',
 'Elias, Mr. Tannous',
 'Arnold-Franchi, Mr. Josef',
 'Yousif, Mr. Wazli',
 'Vanden Steen, Mr. Leo Peter',
 'Bowerman, Miss. Elsie Edith',
 'Funk, Miss. Annie Clemmer',
 'McGovern, Miss. Mary',
 'Mockler, Miss. Helen Mary "Ellie"',
 'Skoog, Mr. Wilhelm',
 'del Carlo, Mr. Sebastiano',
 'Barbara, Mrs. (Catherine David)',
 'Asim, Mr. Adola',
 "O'Brien, Mr. Thomas",
 'Adahl, Mr. Mauritz Nils Martin',
 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)',
 'Moussa, Mrs. (Mantoura Boulos)',
 'Jermyn, Miss. Annie',
 'Aubart, Mme. Leontine Pauline',
 'Harder, Mr. George Achilles',
 'Wiklund, Mr. Jakob Alfred',
 'Beavan, Mr. William Thomas',
 'Ringhini, Mr. Sante',
 'Palsson, Miss. Stina Viola',
 'Meyer, Mrs. Edgar Joseph (Leila Saks)',
 'Landergren, Miss. Aurora Adelia',
 'Widener, Mr. Harry Elkins',
 'Betros, Mr. Tannous',
 'Gustafsson, Mr. Karl Gideon',
 'Bidois, Miss. Rosalie',
 'Nakid, Miss. Maria ("Mary")',
 'Tikkanen, Mr. Juho',
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
 'Plotcharsky, Mr. Vasil',
 'Davies, Mr. Charles Henry',
 'Goodwin, Master. Sidney Leonard',
 'Buss, Miss. Kate',
 'Sadlier, Mr. Matthew',
 'Lehmann, Miss. Bertha',
 'Carter, Mr. William Ernest',
 'Jansson, Mr. Carl Olof',
 'Gustafsson, Mr. Johan Birger',
 'Newell, Miss. Marjorie',
 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)',
 'Johansson, Mr. Erik',
 'Olsson, Miss. Elina',
 'McKane, Mr. Peter David',
 'Pain, Dr. Alfred',
 'Trout, Mrs. William H (Jessie L)',
 'Niskanen, Mr. Juha',
 'Adams, Mr. John',
 'Jussila, Miss. Mari Aina',
 'Hakkarainen, Mr. Pekka Pietari',
 'Oreskovic, Miss. Marija',
 'Gale, Mr. Shadrach',
 'Widegren, Mr. Carl/Charles Peter',
 'Richards, Master. William Rowe',
 'Birkeland, Mr. Hans Martin Monsen',
 'Lefebre, Miss. Ida',
 'Sdycoff, Mr. Todor',
 'Hart, Mr. Henry',
 'Minahan, Miss. Daisy E',
 'Cunningham, Mr. Alfred Fleming',
 'Sundman, Mr. Johan Julian',
 'Meek, Mrs. Thomas (Annie Louise Rowley)',
 'Drew, Mrs. James Vivian (Lulu Thorne Christian)',
 'Silven, Miss. Lyyli Karoliina',
 'Matthews, Mr. William John',
 'Van Impe, Miss. Catharina',
 'Gheorgheff, Mr. Stanio',
 'Charters, Mr. David',
 'Zimmerman, Mr. Leo',
 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)',
 'Rosblom, Mr. Viktor Richard',
 'Wiseman, Mr. Phillippe',
 'Clarke, Mrs. Charles V (Ada Maria Winfield)',
 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")',
 'Flynn, Mr. James',
 'Pickard, Mr. Berk (Berk Trembisky)',
 'Bjornstrom-Steffansson, Mr. Mauritz Hakan',
 'Thorneycroft, Mrs. Percival (Florence Kate White)',
 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)',
 'Kallio, Mr. Nikolai Erland',
 'Silvey, Mr. William Baird',
 'Carter, Miss. Lucile Polk',
 'Ford, Miss. Doolina Margaret "Daisy"',
 'Richards, Mrs. Sidney (Emily Hocking)',
 'Fortune, Mr. Mark',
 'Kvillner, Mr. Johan Henrik Johannesson',
 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)',
 'Hampe, Mr. Leon',
 'Petterson, Mr. Johan Emil',
 'Reynaldo, Ms. Encarnacion',
 'Johannesen-Bratthammer, Mr. Bernt',
 'Dodge, Master. Washington',
 'Mellinger, Miss. Madeleine Violet',
 'Seward, Mr. Frederic Kimber',
 'Baclini, Miss. Marie Catherine',
 'Peuchen, Major. Arthur Godfrey',
 'West, Mr. Edwy Arthur',
 'Hagland, Mr. Ingvald Olai Olsen',
 'Foreman, Mr. Benjamin Laventall',
 'Goldenberg, Mr. Samuel L',
 'Peduzzi, Mr. Joseph',
 'Jalsevac, Mr. Ivan',
 'Millet, Mr. Francis Davis',
 'Kenyon, Mrs. Frederick R (Marion)',
 'Toomey, Miss. Ellen',
 "O'Connor, Mr. Maurice",
 'Anderson, Mr. Harry',
 'Morley, Mr. William',
 'Gee, Mr. Arthur H',
 'Milling, Mr. Jacob Christian',
 'Maisner, Mr. Simon',
 'Goncalves, Mr. Manuel Estanslas',
 'Campbell, Mr. William',
 'Smart, Mr. John Montgomery',
 'Scanlan, Mr. James',
 'Baclini, Miss. Helene Barbara',
 'Keefe, Mr. Arthur',
 'Cacic, Mr. Luka',
 'West, Mrs. Edwy Arthur (Ada Mary Worth)',
 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)',
 'Strandberg, Miss. Ida Sofia',
 'Clifford, Mr. George Quincy',
 'Renouf, Mr. Peter Henry',
 'Braund, Mr. Lewis Richard',
 'Karlsson, Mr. Nils August',
 'Hirvonen, Miss. Hildur E',
 'Goodwin, Master. Harold Victor',
 'Frost, Mr. Anthony Wood "Archie"',
 'Rouse, Mr. Richard Henry',
 'Turkula, Mrs. (Hedwig)',
 'Bishop, Mr. Dickinson H',
 'Lefebre, Miss. Jeannie',
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
 'Kent, Mr. Edward Austin',
 'Somerton, Mr. Francis William',
 'Coutts, Master. Eden Leslie "Neville"',
 'Hagland, Mr. Konrad Mathias Reiersen',
 'Windelov, Mr. Einar',
 'Molson, Mr. Harry Markland',
 'Artagaveytia, Mr. Ramon',
 'Stanley, Mr. Edward Roland',
 'Yousseff, Mr. Gerious',
 'Eustis, Miss. Elizabeth Mussey',
 'Shellard, Mr. Frederick William',
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
 'Svensson, Mr. Olof',
 'Calic, Mr. Petar',
 'Canavan, Miss. Mary',
 "O'Sullivan, Miss. Bridget Mary",
 'Laitinen, Miss. Kristina Sofia',
 'Maioni, Miss. Roberta',
 'Penasco y Castellana, Mr. Victor de Satode',
 'Quick, Mrs. Frederick Charles (Jane Richards)',
 'Bradley, Mr. George ("George Arthur Brayton")',
 'Olsen, Mr. Henry Margido',
 'Lang, Mr. Fang',
 'Daly, Mr. Eugene Patrick',
 'Webber, Mr. James',
 'McGough, Mr. James Robert',
 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)',
 'Coleff, Mr. Satio',
 'Walker, Mr. William Anderson',
 'Lemore, Mrs. (Amelia Milley)',
 'Ryan, Mr. Patrick',
 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)',
 'Pavlovic, Mr. Stefo',
 'Perreault, Miss. Anne',
 'Vovk, Mr. Janko',
 'Lahoud, Mr. Sarkis',
 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
 'Kassem, Mr. Fared',
 'Farrell, Mr. James',
 'Ridsdale, Miss. Lucy',
 'Farthing, Mr. John',
 'Salonen, Mr. Johan Werner',
 'Hocking, Mr. Richard George',
 'Quick, Miss. Phyllis May',
 'Toufik, Mr. Nakli',
 'Elias, Mr. Joseph Jr',
 'Peter, Mrs. Catherine (Catherine Rizk)',
 'Cacic, Miss. Marija',
 'Hart, Miss. Eva Miriam',
 'Butt, Major. Archibald Willingham',
 'LeRoy, Miss. Bertha',
 'Risien, Mr. Samuel Beard',
 'Frolicher, Miss. Hedwig Margaritha',
 'Crosby, Miss. Harriet R',
 'Andersson, Miss. Ingeborg Constanzia',
 'Andersson, Miss. Sigrid Elisabeth',
 'Beane, Mr. Edward',
 'Douglas, Mr. Walter Donald',
 'Nicholson, Mr. Arthur Ernest',
 'Beane, Mrs. Edward (Ethel Clarke)',
 'Padro y Manent, Mr. Julian',
 'Goldsmith, Mr. Frank John',
 'Davies, Master. John Morgan Jr',
 'Thayer, Mr. John Borland Jr',
 'Sharp, Mr. Percival James R',
 "O'Brien, Mr. Timothy",
 'Leeni, Mr. Fahim ("Philip Zenni")',
 'Ohman, Miss. Velin',
 'Wright, Mr. George',
 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
 'Robbins, Mr. Victor',
 'Taussig, Mrs. Emil (Tillie Mandelbaum)',
 'de Messemaeker, Mrs. Guillaume Joseph (Emma)',
 'Morrow, Mr. Thomas Rowan',
 'Sivic, Mr. Husein',
 'Norman, Mr. Robert Douglas',
 'Simmons, Mr. John',
 'Meanwell, Miss. (Marion Ogden)',
 'Davies, Mr. Alfred J',
 'Stoytcheff, Mr. Ilia',
 'Palsson, Mrs. Nils (Alma Cornelia Berglund)',
 'Doharr, Mr. Tannous',
 'Jonsson, Mr. Carl',
 'Harris, Mr. George',
 'Appleton, Mrs. Edward Dale (Charlotte Lamson)',
 'Flynn, Mr. John Irwin ("Irving")',
 'Kelly, Miss. Mary',
 'Rush, Mr. Alfred George John',
 'Patchett, Mr. George',
 'Garside, Miss. Ethel',
 'Silvey, Mrs. William Baird (Alice Munger)',
 'Caram, Mrs. Joseph (Maria Elias)',
 'Jussila, Mr. Eiriik',
 'Christy, Miss. Julie Rachel',
 'Thayer, Mrs. John Borland (Marian Longstreth Morris)',
 'Downton, Mr. William James',
 'Ross, Mr. John Hugo',
 'Paulner, Mr. Uscher',
 'Taussig, Miss. Ruth',
 'Jarvis, Mr. John Denzil',
 'Frolicher-Stehli, Mr. Maxmillian',
 'Gilinski, Mr. Eliezer',
 'Murdlin, Mr. Joseph',
 'Rintamaki, Mr. Matti',
 'Stephenson, Mrs. Walter Bertram (Martha Eustis)',
 'Elsbury, Mr. William James',
 'Bourke, Miss. Mary',
 'Chapman, Mr. John Henry',
 'Van Impe, Mr. Jean Baptiste',
 'Leitch, Miss. Jessie Wills',
 'Johnson, Mr. Alfred',
 'Boulos, Mr. Hanna',
 'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")',
 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)',
 'Slabenoff, Mr. Petco',
 'Harrington, Mr. Charles H',
 'Torber, Mr. Ernst William',
 'Homer, Mr. Harry ("Mr E Haven")',
 'Lindell, Mr. Edvard Bengtsson',
 'Karaic, Mr. Milan',
 'Daniel, Mr. Robert Williams',
 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)',
 'Shutes, Miss. Elizabeth W',
 'Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)',
 'Jardin, Mr. Jose Neto',
 'Murphy, Miss. Margaret Jane',
 'Horgan, Mr. John',
 'Brocklebank, Mr. William Alfred',
 'Herman, Miss. Alice',
 'Danbom, Mr. Ernst Gilbert',
 'Lobb, Mrs. William Arthur (Cordelia K Stanlick)',
 'Becker, Miss. Marion Louise',
 'Gavey, Mr. Lawrence',
 'Yasbeck, Mr. Antoni',
 'Kimball, Mr. Edwin Nelson Jr',
 'Nakid, Mr. Sahid',

In [ ]:
data[~data["Name"].str.contains("Miss")]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.97500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,57.02664,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,42.48000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.85500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,9.30413,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.75500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.12500,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,14.30000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,33.00000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,8.52500,NaN,Q

1. How many passengers were on the Titanic, and how many survived?

In [ ]:
data["Survived"].count()

891

In [ ]:
data["Survived"].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [ ]:
total_num=data.shape[0]
sur=len(data[data["Survived"]==1])
print(total_num,sur)

891 342

2. What is the average age of passengers on the Titanic?

In [ ]:
data["Age"].mean()

29.69911764705882

3. What was the distribution of passenger classes (1st, 2nd, 3rd)?

In [ ]:
data["Pclass"].value_counts(normalize=True)

Pclass
3    0.551066
1    0.242424
2    0.206510
Name: proportion, dtype: float64

4. How many male and female passengers were on the Titanic?

In [ ]:
data["Gender"].value_counts(normalize=True)

Gender
male      0.647587
female    0.352413
Name: proportion, dtype: float64

In [ ]:
x="fgrhgjn"
x[0]

In [ ]:
data["Ticket"].nunique()

681